.navbar {
    position: fixed;
    width: 100vw;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    padding-right: 3rem;
    background: var(--secondary-col);
    color: var(--main-col);
    font-family: "Oxanium", monospace;
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

ul a {
    transition: 0.3s ease-in;
}

ul a:hover {
    color: white;
    letter-spacing: 1px;
} 

.navbar h2 {
     font-family: "Rubik Iso", system-ui, monospace;
     font-size: 2em;
     letter-spacing: -3px;
}