.navbar {
    position: fixed;
    width: 100vw;
    z-index: 99;
    height: 4em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    padding-right: 3rem;
    background: var(--secondary-col);
    color: var(--main-col);
    font-family: "Oxanium", monospace;
}

ul {
    display: flex;
    gap: 10rem;
    list-style: none;
}

ul a {
    transition: 0.3s ease-in;
    letter-spacing: 3px;
    font-size: 1.2em;
    padding: 0 20px;
    transition: 0.3s ease-in;
}

ul a:hover {
    border: 1px solid rgb(170, 16, 39);
    

} 

