.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 1em;
    clip-path: polygon(0 0, 90% 0%, 100% 15%, 100% 100%, 13% 100%, 0% 90%);
    position: relative;
    padding: 1px;
    z-index: 1;
}

.card h3 {
    margin: 0 1.5em 0 1.5em;
}

.card p {
    margin: 0.3em;
}

.card::before{
    position: absolute;
    content: "";
    clip-path: polygon(0 0, 90% 0%, 100% 15%, 100% 100%, 13% 100%, 0% 90%);
    background: white;
    inset: 1px;
    z-index: 0;

}

.card > * {
    position: relative;
    z-index: 2;
    color: black;
    
}

img {
    min-width: 100px;
    height: 200px;
    object-fit: contain;
    margin: 1rem;
}

.add-to-cart-btn {
    border: 1px solid black;
    padding: 0.5em;
    letter-spacing: 1px;
    background: white;
    margin-bottom: 0.3em;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.add-to-cart-btn:hover {
    background: black;
    color: white;
}

.add-to-cart-btn:active {
    background: rgb(0, 255, 191);
    color: black;
}