<div class="home-wrapper ">
 
 

<div class="middle-attraction">
  <div class="home-title">
      <h2>Astro Shop</h2>
  </div>

  

  <div class="home-button-container">

     <button>
      <a routerLink="/products">
        <p>Browse Products</p>
      </a>
      
    </button>

    <div class="button-deco-box-wrapper">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

  <button (click)="openAbout()">
    <p>About</p>
  </button>
    <div class="modal-backdrop" *ngIf="showAbout">
    <div class="modal">
      <h2>About Astro Market</h2>


      <p>
      Astro Market is a demo e-commerce app built with Angular using the Fake Store API.
    </p>

    <p>
      It focuses on routing, components, and API integration.
    </p>

    <button (click)="closeAbout()">x</button>
    </div>

  </div>

  </div>
  
 
</div>
 <div class="flash-info-bar">
    <div class='info-text-wrapper'>

   
<p>Limited Offer</p>
<p>Flash Sale</p>
<p>Unique Products</p>
<p>Limited Offer</p>
<p>Flash Sale</p>
<p>Unique Products</p>
 </div>
  </div>

</div>










