.home-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.middle-attraction {
    position: relative;
    z-index: 1;
}




.flash-info-bar {
    background: white;
    width: 100%;
    height: 3em;
}

.info-text-wrapper{
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
  animation: moveSide 5s  infinite;
}

@keyframes moveSide {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(100%)
    }
}

.flash-info-bar p {
    font-size: 1.5em;
}

.flash-info-bar p:nth-child(even){
    color: red;
}

.flash-info-bar

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    width: 100%;
    height: 50%;
    z-index: 10;
}


.home-title h2 {
    font-family: "Rubik Iso", system-ui, monospace;
    font-size: 15em;
    font-weight: bold;
    letter-spacing: -4px;
    color: var(--main-col);
    
    
}

.middle-attraction {
    background: var(--secondary-col);
    border-top: 4px solid var(--secondary-col);
    border-bottom: 4px solid var(--main-col);
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.home-button-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
    justify-content: space-between;
}

.home-button-container button {
    width: 22em;
    height: 6em;
    background: var(--main-col);
    color: var(--secondary-col);
    transition: 0.3s ease-in-out;
   
}

.home-button-container button p {
     font-size: 1.5em;
     letter-spacing: 2px;
}

.home-button-container button:hover {
    letter-spacing: 1px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.872);
}

.home-button-container button:first-child{
clip-path: polygon(60% 0, 64% 14%, 100% 16%, 100% 80%, 93% 100%, 0 100%, 0 0);
 
}

.home-button-container button:nth-of-type(2){
    clip-path: polygon(40% 0, 36% 14%, 0 16%, 0 80%, 7% 100%, 100% 100%, 100% 0);
    
}


.button-deco-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.button-deco-box-wrapper div {
    width: 10px;
    height: 10px;
    background: var(--secondary-col);
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: var(--secondary-col);
    color: var(--main-col);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 30em;
    height: 30em;
   clip-path: polygon(0 11%, 11% 0, 100% 0, 100% 89%, 89% 100%, 0 100%);
}