

<div class="flex flex-col w-full h-full justify-center items-center">
<div class="checkout-wrapper">
  <p>Checkout</p>
</div>


<div>


<div class=" border-black border-1 m-20 p-3 w-[100%]">
 

  <div 
*ngFor="let item of items$ | async"
class="m-3"
>
<div class="flex flex-row justify-between items-center w-full">
    <img 
      class="w-30"
      [src]="item.image" [alt]="item.title" />


<div class="flex flex-row gap-10 justify-between items-end">
     <p>{{ item.title}}</p>
    <p class="font-bold">${{ item.price}}</p>
     <div class="flex flex-row items-center gap-2">
      <button (click)="decrease(item)">-</button>

      <p class="min-w-[30px] text-center">
        {{ item.quantity }}
      </p>

      <button (click)="increase(item)">+</button>
    </div>

    <button class='text-red-900'(click)="remove(item)">Remove</button>
   
    
</div>
</div>

  
    
</div>


</div>

<div class="checkout-box-container">


<div class="total-box">
  <div class="total-price-box">
       <h2>Total: ${{ total$ | async }}</h2>
  </div>

  <div 
  
  >
  <button class="checkout-btn"
  (click)="openCheckout()">
  Checkout</button>
   </div>
 </div>
</div>
</div>
</div>


<!-- Dark background -->

<div
  class="checkout-overlay"
  *ngIf="showCheckout"
  (click)="closeCheckout()">
</div>

<!-- Slide-in panel -->

<div
  class="checkout-panel"
  [class.open]="showCheckout">

  <button
    class="close-btn"
    (click)="closeCheckout()">
    ✕
  </button>

  <app-checkout></app-checkout>

</div>




